<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.min.js"></script>
    <script src="src/result_analysys.js"></script>
    <title>Document</title>
</head>
<body data-ng-app="miner" data-ng-controller="table">
    <label for="fil1">Filter</label>
    <input type="text" id="fil1" data-ng-model="filter">
    <label for="min_num_commiter">Minimum # of commiter</label>
    <input type="number" id="min_num_commiter" data-ng-model="minNumCommiter">
    <table>
        <tr>
            <th>Language 1</th>
            <th>Language 2</th>
            <th>Balance Rate</th>
            <th>Edited Lines</th>
            <th># of people</th>
        </tr>
        <tr data-ng-repeat="item in items|filter:filter:true|filter:numCommiterMin">
            <td>{{item.languages[0]}}</td>
            <td>{{item.languages[1]}}</td>
            <td>{{item.rate}}</td>
            <td>{{item.editLines}}</td>
            <td>{{item.people|objLength}}</td>
        </tr>
    </table>
</body>
</html>
